 <div class="user-details">
  <h1> About me </h1>
  <p>
    Hi!
    I'm Aritra from Sweden.
    Thank you for visiting my web page!
    I wanted to take this opportunity to briefly introduce myself, and my skills.
    My programming journey first started when I was around 12, when I picked up a Java textbook from the library.
    Ever since then I've been curious about programming in all its forms,
    from making games with TI Basic on my calculator in the middle of maths lessons away from the teachers eyes,
    to using Python to automate tasks that I couldn't be bothered to do.
    I started university in 2019, having got into the notoriously difficult Engineering Physics program at KTH.
    After taking a simulation course I realised what I enjoyed the most was combining maths and physics with my love of programming.
    Therefore, in my master, I decided do Computer Science with a focus on visualisation and interactive graphics.
    The biggest highlight of the program for me was getting the opportunity to do a lot of big projects,
    both in groups and individually.
    I also enjoyed learning about the mathematics and physics behind rendering, 
    diving into state of the art graphics research and going in depth on GPU architecture.
    Feel free to take a look at some of my projects down below 😊!
  </p>
</div>