<div class="user-details">
  <h1> About me </h1>
  <p>
    Hi!
    I'm Aritra, from Stockholm, Sweden.
    I studied the Degree Programme in Engineering Physics at KTH Royal Institute of Technology. 
    I pursued my masters in Computer Science, specialising in Visualisation and Interactive Graphics.
    I have a passion for topics in the intersection of physics and computer science.
    I possess a solid theoretical basis in physics and maths, as well as broad technical knowledge of GPU programming.
    Feel free to take a look at some of my projects down below 😊!
  </p>
</div>