 <div class="user-details">
  <h1> About me </h1>
  <p>
    Hi!
    I'm Aritra from Sweden.
    Thank you for visiting my web page!
    I wanted to take this opportunity to briefly introduce myself, and my skills.
    I started getting curious about programming when I was around 12, so I picked up a Java textbook.
    Ever since then I've been curious about programming in all its forms,
    from playing with TI Basic on my calculator in the middle of maths lessons,
    to using Python to automate tasks that I didn't want to do.
    I started university in 2019, having qualified for the notoriously difficult Engineering Physics program at KTH.
    I love doing Physics and Maths,
    but after doing some simulation courses I realised that it was even better when I could combine it with programming to see the results right in front of my eyes.
    Therefore I decided take the Visualisation and Interactive Graphics track in the Computer Science Master.
    The biggest highlight of the program for me was getting the opportunity to do a lot of big projects,
    both in groups and individually.
    I also enjoyed learning about the mathematics and physics behind rendering, 
    diving into state of the art graphics research
    and going in depth on GPU architecture.
    Feel free to take a look at some of my projects down below 😊!
  </p>
</div>