<div class="user-details">
  <h1> My Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="vulkan-raytracer" src="{{ "/assets/img/dragon.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Vulkan raytracer</h3>
    <p>
      In order to learn the Vulkan API as well as get a deeper understanding of light transport theory I implemented a path tracer in Vulkan.
      It takes advantage of raytracing hardware by using Vulkan raytracing extensions.
      I implemented multiple importance sampling, with direct light sampling and material BSDF sampling for faster convergence.
      The material models are based mainly on the glTF spec and extensions, using a PBR metallic-roughness model with rough reflections and refractions.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/vulkan-raytracer">GitHub repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="opacity-optimisation" src="{{ "/assets/img/opacity-optimised-tornado.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Approximate opacity optimisation</h3>
    <p>
      My master's thesis project was on approximate opacity optimisation (see <a href="https://dl.acm.org/doi/10.1145/2461912.2461930">[Günther et. al. 2013]</a>, <a href="https://ieeexplore.ieee.org/document/8713907">[Rojo et. al. 2019]</a>, <a href="https://diglib.eg.org/items/84b43221-631f-48b7-b280-49754bc0fb30">[Zeidan et. al. 2020]</a>),
      which is a rendering technique that helps reveal important features in dense 3D datasets where there is a lot of occlussion.
      I compared different approximation with regards to their effect on execution time and their accuracy.
      The image shows how opacity optimisation reveals and highlights the important data at the vortex of a tornado.
      The project resulted in a contribution to the Inviwo open source project.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/cpp_volume_rendering/tree/rtisokd">GitHub repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="volume-renderer" src="{{ "/assets/img/kd_traversal.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Isosurface renderer with implicit kD-trees</h3>
    <p>
      For my advanced graphics course I implemented a isosurface renderer that uses implicit kD-trees to accelerate ray traversal for isosurface rendering
      (based on <a href="https://www.sci.utah.edu/~wald/Publications/2005/iso/tcgv.pdf">[Wald et. al. 2005]</a> and <a href="https://ieeexplore.ieee.org/document/5290773">[Hughes and Lim 2009]</a> paper).
      The implicit kD-tree is a data structure that partitions the volume data and stores minimum and maximum density values.
      Both the kD-tree construction and rendering is done on the GPU using compute shaders, minimising data transfers.
      The image shows how regions of the volume can be skipped as the ray traverses deeper levels of the tree.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/cpp_volume_rendering/tree/rtisokd">GitHub repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="bun-squishy" src="{{ "/assets/img/bun_squishy.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>GPU Soft body simulation</h3>
    <p>
      This was my final project for my course in Graphics and Interaction, and what really sparked my interest in GPU/graphics programming.
      It is a particle based soft body simulation based on <a href="https://matthias-research.github.io/pages/publications/XPBD.pdf">Müller's XPBD</a> method, 
      simulating the system by solving a set of volume and length constraints in every time step.
      One of the most interesting parts of the project was optimising it for parallelisation on the GPU,
      which involved clustering the particles using graph colouring.
      Check out the <a href="https://arrebarritra.github.io/soft-body-project">blog</a> if you're interested in the details!
    </p>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/soft-body-project">GitHub repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="volume-renderer" src="{{ "/assets/img/volume-renderer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Slice based volume renderer</h3>
    <p>
      This is a personal project I made after learning about volume rendering in my Visualisation course.
      It is a slice based volume renderer.
      One of the challenges in making this was the geometric calculations involved in order to generate view aligned polygons and optimise the renderer.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/volume-renderer">GitHub repo</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="arrend" src="{{ "/assets/img/arrend.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>arrend</h3>
    <p>
      Arrend was an OpenGL renderer project I worked on in my free time during the 3rd semester of my masters.
      I built it in parallel with learning the OpenGL API.
      Some of the features:
    </p>
    <ul>
      <li>Deferred shading, normal mapping, SSAO, SSR</li>
      <li>Model loading with multiple textures</li>
      <li>GUI editor</li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/arrend">GitHub repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Lab" src="{{ "/assets/img/lab.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Rolling Reactions</h3>
    <p>
      Rolling Reactions is a group project I'm part of in my course in Advanced Graphics and Interaction.
      It is a VR experience where you traverse in a wheelchair while overseeing experiments in the lab.
      My main contribution was creating a believable wheelchair experience by creating an interaction system and programming the physics of the wheelchair.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/Rolling-Reactions/rolling-reactions">GitHub repo</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Lab" src="{{ "/assets/img/asteroid-sim.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Planetary motion and asteroids</h3>
    <p>
      The aim of this project was to simulate how an asteroid passing close by to the Earth would affects its, and the moon's, orbit.
      This was my final project for the course SI1336 Simulation and Modeling.
      The simulation is validated against the DE421 dataset, which contains accurate tables of positions and velocities of planets and their moons.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/arrebarritra/planetary-motion-asteroids">GitHub repo</a>
  </div>
</div>
