<div class="user-details">
    <h1>Tools</h1>
    <div class="user">
        <div class="tech">
        <h2>Languages</h2>
        <i class="devicon-cplusplus-plain colored"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-csharp-plain colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        </div>
        
        <div class="tech">
        <h2>Graphics</h2>
        <i class="devicon-opengl-plain colored"></i>
        <i class="devicon-sdl-plain colored"></i>
        </div>
    </div>

    <div class="user">
        <div class="tech">
        <h2>Software</h2>
        <i class="devicon-unity-original-wordmark colored"></i>
        <i class="devicon-matlab-plain colored"></i>
        </div>
        
        <div class="tech">
        <h2>Workflow</h2>
        <i class="devicon-visualstudio-plain-wordmark colored"></i>
        <i class="devicon-bash-plain colored"></i>
        <i class="devicon-git-plain-wordmark colored"></i>
        <i class="devicon-ssh-original-wordmark colored"></i>
        </div>
    </div>
</div>
  
<div class="user-details">
    <h1>Interests & Skills</h1>
    <div class="user">
      <div class="tech user-details">
        <h2>Programming</h2>
        <p>
          I am proficient in a variety of languages, including web programming.
          My strongest languages are C++ and Python.
          I am also familiar with parallel programming in both shared (OpenMP) and distributed memory (MPI) systems, which I learnt specifically in the context of High Performance Computing.
        </p>
      </div>
  
      <div class="tech user-details">
        <h2>Graphics + GPGPU</h2>
        <p>
          I have done graphics programming in OpenGL and am familiar with a large variety of rendering techniques and effects.
          I have also done computation using HLSL compute shaders.
          In an upcoming course I will be learning to use CUDA and AMD HIP.
        </p>
      </div>
    </div>
  
    <div class="user">
      <div class="tech user-details">
        <h2>Simulation</h2>
        <p>
          I have taken a Simulation and Modeling course, as well as Numerical Methods.
          My simulation skills are also complemented well by my physics knowledge.
          I can also apply techniques of visualising scientific data, such as volume rendering, streamlines and marching squares.
        </p>
      </div>
  
      <div class="tech user-details">
        <h2>Game design</h2>
        <p>
          I am proficient in Unity and scripting in C# through learning both for hobby projects and in university courses.
          In particular I have a good understanding of Unity's physics system and VR tools.
        </p>
      </div>
    </div>
</div>
  